#logo{ 
	  margin:auto;
	  width:60px;
          height:60px;
	  float:left;
          position:relative;
	  }
	  @media only screen and (max-width: 800px) {
	    #logo{ width:50px;
          height:50px;}  
	  }